* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  background: rgb(245, 215, 215);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-card {
  display: flex;
  gap: 20px;
}

.card {
  background: rgb(31, 233, 139);
  padding: 10px;
  border-radius: 10px;
}

h4 {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  margin: 15px;
}

#ptitle {
  margin-left: 10px;
  width: 200px;
  line-height: 20px;
}

.kucing {
  width: 100%;
  height: 200px;
  background: rgb(226, 76, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.kuda {
  width: 100%;
  height: 200px;
  background: rgb(226, 76, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.ayam {
  width: 100%;
  height: 200px;
  background: rgb(226, 76, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.anjing {
  width: 100%;
  height: 200px;
  background: rgb(226, 76, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.tugas1 {
  display: block;
}

